.plan-premium__title{
    width: 290px;
    height: 150px;
    background-color: #F3001D;
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.plan-premium__title h2{
    display: block;
    color: white;
    font-size: 35px;
    text-shadow: 3px 5px 10px rgb(5, 5, 5);
}